<header class='header'>
  <div class='header_nav'>
    <span class='header_logo'>{{brandName}}</span>
    <span class='nav_links'>
      {{#each links}}
        <a href='{{url}}' class='nav_link'>{{text}}</a>
      {{/each}}
    </span>
  </div>
  <div class='header_service'>
    <span>
      <span class='ad'>Ad</span>
      <a href='{{ad.url}}' class='nav_link'>
        {{ad.text}}:
        {{ad.url}}
      </a>
    </span>
    <span class='user'>User online: {{userOnline}}</span>
  </div>
</header>